body{
    background-color: #222;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
fieldset{
    width: 0;
    border: none;
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
input{
    text-align: right;
    padding: 4px;
}
form{
    text-align: center;
}
button{
    background-color: #006bff;
    color: white;
    width: 100%;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
button:hover{
    background-color: #008bff;
}
a{
    color: #006bff;
    text-decoration: none;
}
.fas.fa-user{
    
}